<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> 99乘法表 </title>
		<!-- tr 是行，td 是列 -->
		<script src="vue.js" type="text/javascript" charset="UTF-8"></script>
	</head>
	<body>
		<div id="app">
			
			<table border="0.5" bordercolor="yellow" cellpadding="20">
				<tr>
					<th v-bind:class="hstyle" colspan="9">
						乘法口诀表
					</th>
				</tr>
				
				<tr v-for="(hang,index) in defaultdata" :key="index">
					<td v-for="(lie,index) in defaultdata" :key="index" v-bind:class="cstyle">
						<!-- {{hang}} X {{lie}} -->
						{{dealM(hang,lie)}}
					</td>
				</tr>
				
			</table>
			
		</div>
		
		<script>
			var vm = new Vue({
				el:'#app',
				data:{
					hstyle:'headercss',
					cstyle:'contentcss',
					defaultdata:[
							1,2,3,4,5,6,7,8,9
					]
				},
				computed:{
					results:function(){
						return defaultdata
					}
				},
				methods:{
					dealM:function(hang,lie){
						if(hang>lie){
							return ''
						}else {
							var result = hang * lie
							return hang + 'x' + lie + '=' + result
						}
					}
				}
			})
			
		</script>
		
		<style type="text/css">
			.headercss{
				background-color: coral;
				color: white;
				font-size: 38;
			}
			.contentcss{
				background-color: pink;
				color: red;
				font-size: 24;
			}
		</style>
	</body>
</html>
